// SCSS Syntax

// Importing fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');

// Creating a Variable
$primary: #428bca;

body{

    background: $primary;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1.logo{

    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 4em;

}